<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184550071059-cmb02jgrtsnp67rjhg28nscklomg33fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184550071059-cmb02jgrtsnp67rjhg28nscklomg33fo</string>
	<key>API_KEY</key>
	<string>AIzaSyBKrhErTI8sXtzMggA49DV_13vjjxLjS-w</string>
	<key>GCM_SENDER_ID</key>
	<string>184550071059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandureddy.ChatApplication</string>
	<key>PROJECT_ID</key>
	<string>chatapplication-18b28</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplication-18b28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184550071059:ios:0eeaf1ca5ed21d83bf18e6</string>
	<key>DATABASE_URL</key>
	<string>https://chatapplication-18b28.firebaseio.com</string>
</dict>
</plist>